{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Celery!
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/nav.css">
{% endblock %}
{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}


{% block content %}
    <h1>Connect to Schoology</h1>
    {% if schoologyConnectionCheck == False %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            To access data from Schoology, we need your permission. Click the button to allow access, and then come
                back here!
        </div>
        <div class="col-md-4 text-center">
            <a button type="button" class="btn btn-primary" href="{{ schoologyConnectUrl }}">Connect to Schoology</a>
        </div>
    {% elif schoologyConnectionCheck == True %}
        {% if alertState == "3"  %}
            <div class="alert alert-success" role="alert">
                <i class="fas fa-thumbs-up"></i>We have your authorization, {{ schoology.sc.get_me().name_first }}. Schoology integration is good to go! Reports will be made against {{ schoology.schoolGroups()[reportingGroupID] }}.
            </div>
            <h3>Choose another group for reporting:</h3>
        {% elif alertState == "2" %}
            <div class="alert alert-success" role="alert">
                Looks like we're connected. Select a group to continue.
            </div>
            <h3>Choose group for reporting:</h3>
        {% elif alertState == "5" %}
            <div class="alert alert-danger" role="alert">
               <i class="fas fa-thumbs-down"></i> It looks like you don't have access to the group {{ schoology
                .schoolGroups()[reportingGroupID] }}. Contact your Schoology Administrator if you believe this to be
                in error.
            </div>
            <h3>Choose group for reporting:</h3>
        {% endif %}
                <div class="container">
                    <form action="{{ url_for('schoologyConnect') }}" method="POST">
                        <dl>
                            {{ wtf.quick_form(schoologyGroupSelector) }}
                        </dl>
                    </form>
                </div>
    {% endif %}
{% endblock %}


