{% extends "bootstrap/base.html" %}
{% block title %}
    Celery!
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/nav.css">
{% endblock %}

{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
<h1>Celery Admin</h1>
<div class="container">
    <p>Welcome to Celery's admin page. There isn't much here yet, but you can do a few things....</p>
    <a class="btn btn-primary"  href="/admin/reporting" role="button">Reporting</a>
    <a class="btn btn-primary"  href="/admin/schoologyconnect" role="button">Connect to Schoology</a>
    <a class="btn btn-primary"  href="/admin/settings" role="settings">Settings</a>
</div>

{% endblock %}