{% extends "bootstrap/base.html" %}
{% block title %}
    Celery!
{% endblock %}

{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
<h1>Celery Admin</h1>
<div class="container">
    <p>Welcome to Celery's admin page. There isn't much here yet, but you can do a few things....</p>
    <a class="btn btn-primary"  href="/admin/reporting" role="button">Reporting</a>
    <a class="btn btn-primary"  href="/admin/schoologyconnect" role="button">Connect to Schoology</a>
    <a class="btn btn-primary"  href="/admin/settings" role="settings">Settings</a>
</div>

{% endblock %}