<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Celery!
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/nav.css">
{% endblock %}
{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if alertState == "0" %}

        {% elif alertState == "1" %}
            <div class="alert alert-success" role="alert">
                Sign-in for {{ session["lastCheckedUser"] }} was successful!
            </div>
        {% elif alertState == "2" %}
            <div class="alert alert-danger" role="alert">
                We could not record your sign in. Contact your favorite IT Intern so he can fix it.
            </div>
        {% elif alertState == "4" %}
            <div class="alert alert-danger" role="alert">
                Sign-in prompt overridden. This incident has been recorded.
            </div>
        {% endif %}
        <form method="post" action="{{ url_for('home') }}">
                <dl>
                    {{ wtf.quick_form(form) }}
                </dl>
            <button type="submit" class="btn btn-success">Submit</button>
            </form>
    </div>

{% endblock %}
