{% extends "bootstrap/base.html" %}
{% block title %}
    Celery!
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/nav.css">
{% endblock %}


{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
<h1>Reporting</h1>
<div class="container">
    <p>You can run reports from here. This is TBD.</p>
</div>

{% endblock %}