{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Celery!
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/nav.css">
{% endblock %}


{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
<h1>Reporting</h1>
{% if schoology.connectionCheck() == False %}
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle"></i>
        You haven't set up Schoology integration!
        Certain reports are unavailable, unless you fix it <a href="/admin/schoologyconnect">here</a>.
    </div>
{% elif schoology.connectionCheck() == True %}
    <div class="alert alert-success" role="alert">
        <i class="fas fa-check"></i>
        Schoology connected. Reports will be ran against {{ schoology.schoolGroups()[settings.schoology["reportingGroupID"]] }}.
    </div>
{% endif %}
<h3>Export all records</h3>
    <p>This dumps the entire records table from the database into a csv file for manual data
    analysis. It may take a little while depending on how long Celery has been running. Perfect for
    backup purposes.</p>

{% endblock %}