{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Celery sign-in
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/nav.css">
{% endblock %}
{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if alertState == "2" %}
        <div class="alert alert-danger" role="alert">
            Woah, you aren't {{ record.studentName }}!
        </div>
        {% endif %}
        <p>To sign in, you have to be {{ record.studentName }} or override.</p>
        <form method="post" action="{{ url_for('signin') }}">
                <dl>
                    {{ wtf.quick_form(form) }}
                </dl>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}
