{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Celery sign-in
{% endblock %}

{% block navbar %}
{{ nav.celeryNav.render() }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if alertState == "2" %}
        <div class="alert alert-danger" role="alert">
            Woah, you aren't {{ currentWorkingRecord["Name"] }}!
        </div>
        {% endif %}
        <p>To sign in, you have to be {{ currentWorkingRecord["Name"] }} or override.</p>
        <form method="post" action="{{ url_for('signin') }}">
                <dl>
                    {{ wtf.quick_form(form) }}
                </dl>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}
